## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Decription,Lat,Lng,Hotel Name
0,1,Santo Domingo,DO,85.68,broken clouds,18.5001,-69.9886,Cabañas City Heart
1,3,Honiara,SB,76.01,overcast clouds,-9.4333,159.9500,Heritage Park Hotel
2,5,Rikitea,PF,78.69,broken clouds,-23.1203,-134.9692,People ThankYou
3,10,Bathsheba,BB,84.81,few clouds,13.2167,-59.5167,Atlantis Hotel
4,11,Qui Nhon,VN,70.74,broken clouds,13.7667,109.2333,Khách sạn Hải Âu Quy Nhơn - Seagull Hotel

In [10]:
vacation_df.reindex(columns=['City', 'County', 'Max Temp', 'Description', 'Lat', 'Lng', 'Hotel Name'])

,City,County,Max Temp,Description,Lat,Lng,Hotel Name
0,Santo Domingo,NaN,85.68,NaN,18.5001,-69.9886,Cabañas City Heart
1,Honiara,NaN,76.01,NaN,-9.4333,159.9500,Heritage Park Hotel
2,Rikitea,NaN,78.69,NaN,-23.1203,-134.9692,People ThankYou
3,Bathsheba,NaN,84.81,NaN,13.2167,-59.5167,Atlantis Hotel
4,Qui Nhon,NaN,70.74,NaN,13.7667,109.2333,Khách sạn Hải Âu Quy Nhơn - Seagull Hotel
...,...,...,...,...,...,...,...
246,Port Blair,NaN,80.64,NaN,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
247,Saint-Pierre,NaN,79.29,NaN,-21.3393,55.4781,Lindsey Hôtel
248,Eyl,NaN,77.41,NaN,7.9803,49.8164,Amiin Hotel
249,Trinidad,NaN,80.58,NaN,-14.8333,-64.9000,Hotel Piesta
250,Gilbues,NaN,85.15,NaN,-9.8317,-45.3439,Hotel Camapuã

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Desription</dt><dd>{Decription}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
              
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Tomatlan"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Tomatlan"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Coahuayana"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Acapulco"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Puerto Escondido"]
vacation_start

,City_ID,City,Country,Max Temp,Decription,Lat,Lng,Hotel Name
84,241,Tomatlan,MX,84.27,clear sky,19.9333,-105.25,El Salvial

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Decription,Lat,Lng,Hotel Name
0,241,Tomatlan,MX,84.27,clear sky,19.9333,-105.2500,El Salvial
1,304,Coahuayana,MX,86.07,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
2,609,Acapulco,MX,83.59,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,340,Puerto Escondido,MX,81.43,scattered clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Desription</dt><dd>{Decription}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))